extends layout

block content
  h1 #{title}
  hr
  p #[strong ID:] #{book_instance.book}
  p #[strong Imprint:] #{book_instance.imprint}
  p #[strong Status:] #{book_instance.status}
  p #[strong Due_back:] #{book_instance.due_back_formatted}

    form(method='POST' action='')
      div.form-group
        input#book_instanceid.form-control(type='hidden',name='book_instanceid', required='true', value=book_instance._id )

      button.btn.btn-primary(type='submit') Delete